:root {
  --color1: #a7a4b1;
  --color2: #bdbbc5;
  --color3: #d3d2d8;
  --color4: #e9e8ec;
  --color5: #ffffff;
  --color6: #333333;
  --color7: #444444;
  --color8: #555555;
  --color9: #666666;
  --color10: #777777;
}

/* Estilos globais */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color4);
  color: var(--color6);
  animation: fadeIn 1s ease-in-out;
}

/* Navbar lateral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color1);
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px;
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 25px;
  color: var(--color5);
  display: block;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(-20px);
}

.sidebar a.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.sidebar a.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

.sidebar a:hover {
  color: var(--color4);
  background-color: var(--color2);
}

.sidebar a.logout-link {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* Botão de menu */
#menuButton {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color1);
  border: none;
  color: var(--color5);
  padding: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s, left 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 0;
}

#menuButton.open {
  left: 250px;
}

#menuButton:hover {
  background-color: var(--color2);
}

#menuIcon {
  font-size: 20px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Customizações adicionais */
.icon-info {
  color: var(--color3);
}

.icon-info:hover {
  color: var(--color2);
}

.icon-check {
  color: var(--color7);
}

.icon-times {
  color: var(--color8);
}
