:root {
  --dark-blue: #283593;
  --medium-blue: #303f9f;
  --light-blue: #3949ab;
  --very-light-blue: #3f51b5;
  --soft-blue: #5c6bc0;
  --pale-blue: #7986cb;
  --white: #fff;
  --black: #000;
  --dark-gray: #212121;
  --medium-gray: #424242;
  --light-gray: #616161;
  --lighter-gray: #9e9e9e;
  --soft-gray: #bdbdbd;
  --pale-gray: #eeeeee;
  --ultra-light-gray: #f5f5f5;
}

/* Estilos globais */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--ultra-light-gray);
  color: var(--dark-gray);
  animation: fadeIn 1s ease-in-out;
}

/* Navbar lateral */
.sidebar {
  height: 100%;
  width: 0;  /* Sidebar oculto inicialmente */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--medium-blue); /* Cor de fundo do sidebar */
  overflow-x: hidden; /* Sem scroll horizontal */
  transition: 0.5s;  /* Efeito de transição */
  padding-top: 60px; /* Espaçamento superior */
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--black);
  background-color: var(--soft-blue);
}

.sidebar a.logout-link {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* Botão de menu */
#menuButton {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--medium-blue);
  border: none;
  color: var(--white);
  padding: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s, left 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 0; /* Removendo qualquer arredondamento */
}

#menuButton.open {
  left: 250px;
}

#menuButton:hover {
  background-color: var(--dark-blue);
}

#menuIcon {
  font-size: 20px;
}

/* Estilos de perfil */
.profile-container {
  text-align: center;
  margin-top: 50px;
}

.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-container p {
  font-size: 18px;
}

/* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: var(--white);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--medium-gray);
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close {
  color: var(--medium-gray);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

/* Tabela */
.table {
  table-layout: fixed;
  width: 100%;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  background-color: var(--dark-blue);
  color: var(--f8f4c4);
}

.table td {
  word-wrap: break-word;
  white-space: normal;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
